/* Zeroing of all auto styles */
* { margin: 0;
	padding: 0;
	border: 0;
}

*, *:before,*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block}
html, body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

body {
	width: 100%;
	min-height: 100%;
}
.header__heading {
	opacity: 0;
	position: absolute;
	width: 1px;
	height: 1px;
}

/* -------------------- */ 
.header {
	margin: 0 auto;
	height: 0; 
/*	z-index: 50; 	*/
}

.header .wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #F58021; 
}

.header__content {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100%;
}

.header__burger {
	display: none;
}

.logo {
	width: 96px;
	height: 50px;
	margin: 30px 0;
}

.header__menu {
	margin: 0 65px 0 35%; /*при адаптиве менять или придумать другой метод */
}
.header__list {
	display: flex;
}
.header__item {
	margin: 0 24px;
}
.header__item:first-child {
	margin-left: 0;
}
.header__item:last-child {
	margin-right: 0;
}

.text__link {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	text-transform: uppercase;
	color: #000000;
}
.text__link:hover {
	border-bottom: 2px solid #000000;
}

.header__item_active {
	color: #00A092;
	cursor: default;
}
.header__item_active:hover {
	border-bottom: none;
}

.icon__list {
	display: flex;
}
.icon__item {
	margin: 0 15px;
	transition: all 0.5s ease-in-out;
}
.icon__item:first-child {
	margin-left: 0;
}
.icon__item:last-child {
	margin-right: 0;
}
.icon__item:hover {
	cursor: pointer;
	transform: scale(1.3);
	transition: all 0.5s ease-in-out;
}
.icon__image {
	width: 40px;
	height: 40px;
}

.main {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	margin: 110px auto 0;
}


.watch-block__content,
.welcome-block__content,
.donat-block__content,
.meet-block__content,
.feed-block__content,
.users-block__content,
.care-block__content {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.info-text {
	font-family: Montserrat;
	font-size: 18px;
	line-height: 150%;
	color: #000000;
}

.block-title {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 54px;
	line-height: 66px;
	text-transform: uppercase;
	color: #00A092;
}

.img-arrow {
	width: 24.28px;
	height: 22px;
	margin-left: 10px;
}

.watch-block {
	background: url(../../assets/images/Background.png) center/contain no-repeat;
}

.watch-block__content {
	padding: 130px 0 100px;
}

.watch-block__title {
	max-width: 890px;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 82px;
	line-height: 100px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #00A092;
}

.watch-block__subtitle {
	max-width: 430px;
	margin: 50px 0;
}

.watch-block__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 26px 29px;

	width: 240px;
	height: 74px;
	background: #F58021;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.watch-block__btn:hover {
	background: #D26004;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.welcome-block {
	margin: 150px 0 0;
}

.welcome-block__first,
.welcome-block__second {
	display: flex;
}
.welcome-block__second {
	margin: 150px 0;
}

.welcome-block__info {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.welcome-block__info:first-child {
	margin-right: 40px;
}
.welcome-block__info:last-child {
	margin-left: 40px;
}

.welcome-block__title {
	max-width: 523px;
}

.welcome-block__subtitle {
	max-width: 560px;
}

.welcome-block__img {
	max-width: 800px;
	object-fit: contain;
}

.donat-block {
	background: #20113D;
}
.donat-block__content {
	flex-direction: row;
	align-items: center;
}

.donat-block__info {
	margin: 50px 0;
}

.donat-block__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 51px;
	text-transform: uppercase;
	
	color: #FFFFFF;
}
.donat-block__subtitle {
	max-width: 609px;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
	margin-top: 20px;
}

.donat-block__quick_name {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 26px;
	line-height: 130%;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.donat__donate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 320px;
	height: 74px;
	border-radius: 5px;
}

.donat__container {
	position: relative;	
}

.donat__container span {  
	position: absolute;
	top: 28px;
	left: 8px;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.donat__input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 74px;
	padding: 26px 22px;

	background: #20113D;
	border: 1px solid #FFFFFF;
	border-radius: 5px;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.donat__input,
.donat__input::-webkit-outer-spin-button,
.donat__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
	-moz-appearance: textfield;
}

.donat__input::placeholder {
	color: #FFFFFF;
}

.donat__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 26px 45px;	
	width: 80px;
	height: 74px;	
	border-radius: 5px;

	background: #F58021;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.donat__btn:hover {
	background: #D26004;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.meet-block__container {
	width: 1920px;
	margin: 0 auto 0;
	overflow: hidden;
	position: relative;
}

.meet-block__transparent {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50px;
	z-index: 5;
	background: linear-gradient(.25turn, transparent, 60%, #ffffff);
}

.meet-block__content {
	padding: 130px 0 150px;
	align-items: center;
}

.meet-block__subtitle {
	max-width: 920px; 
	margin: 50px 0 100px;
}

.meet-block__btn-holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 185px;
	height: 60px;
	margin-bottom: 50px;
}

.meet-block__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 26px 15px;
	width: 60px;
	height: 60px;
	background: url(../../assets/icons/arrow\ blue.svg) center no-repeat;

	border: 1px solid #20113D;
	box-sizing: border-box;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.meet-block__btn:hover {
	cursor: pointer;
	background: #20113D url(../../assets/icons/arrow.svg) center no-repeat;
	transition: all 0.5s ease-in-out;
}

.meet-block__btn.btn-left,
.meet-block__btn.btn-left:hover {
	transform: rotate(180deg);
}

.meet-block__cardsholder {
	align-self: flex-start;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	width: 1880px;
	height: 1534px;
}

.meet-block__card {
	width: 440px;
	height: 747px;
	background: #20113D;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	z-index: 1;
	transition: all 0.5s ease-in-out;
	position: relative
}

.meet-block__card:hover {
	z-index: 2;
	transform: scale(1.05, 1.05);
	transition: all 0.5s ease-in-out;
}

.card__image {
	width: 440px;
	height: 440px;
}

.card__name {
	position: absolute;
	height: 61px;
	left: 0px;
	top: 0px;
	padding: 14px 20px;

	background: #20113D;
	border-radius: 5px 0px;
	color: #FFFFFF;
}

.card__type {
	margin: 30px auto 0;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 26px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}

.card__info {
	color: #FFFFFF;
	margin: 20px 30px 30px;
}

.card__button {
	display: flex;
	align-items: flex-start;
	padding: 26px 28px;
	margin-bottom: 50px;
	background: transparent url(../../assets/icons/arrow\ orange.svg) 186px 27px no-repeat;	transition: all 0.5s ease-in-out;

	width: 240px;
	height: 74px;
	border-radius: 5px;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #F58021;
}
.card__button:hover {
	background: #F58021 url(../../assets/icons/arrow.svg) 186px 27px no-repeat;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}

.feed-block {
	background: #20113D;
}
.feed-block__content {
	margin: 90px auto 100px;
}

.feed-block__title {
	color: #FFFFFF;
}

.feed-block__section {
	margin: 116px 0 0;
}
.feed-block__first {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.feed-block__number {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 26px;
	line-height: 130%;
	color: #FFFFFF;
}

.feed-block__border {
	width: 1280px;
	height: 0px;
	border-top: 1px solid #FFFFFF;
}

.feed-block__second {
	display: flex;
	justify-content: start;
	align-items: flex-start;
	margin-top: 100px;
} 

.feed-block__image {
	max-height: 560px;
	border-radius: 5px;
	object-fit: contain;
	margin-right: 160px;
}

.feed-block__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.feed-block__icon {
	width: 100px;
	height: 80px;
}

.feed-block__info_title {
	max-width: 381px;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 26px;
	line-height: 130%;
	color: #FFFFFF;
	margin: 30px 0 50px;
}

.feed-block__info_subtitle {
	max-width: 560px;
	color: #FFFFFF;
}

.feed-block__button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 50px 0 0 51%;
	padding: 26px 30px;

	width: 240px;
	height: 74px;
	background: #F58021;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.feed-block__button:hover {
	background: #D26004;
	box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);	
	transition: all 0.5s ease-in-out;
}

.users-block {	
	background: #20113D;
}

.users-block__main {
	width: 1920px;
	margin: 0 auto 0;
	overflow: hidden;
	background: url(../../assets/images/image\ 97.png) center no-repeat;
}

.users-block__content {
	margin: 100px auto 150px;
}

.users-block__container {
	width: 1660px; 
	display: flex;
	justify-content: space-between;
}

.users-block__info {
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}

.users-block__title {
	max-width: 440px;	
	color: #FFFFFF;
}

.users-block__subtitle {
	width: 560px;	
	font-family: Montserrat;
	font-weight: 500;
	font-size: 26px;
	line-height: 130%;
	color: #FFFFFF;
	margin-top: 50px;
}

.users-block__cardsholder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	width: 1060px;
}

.users-block__card {
	width: 515px;
	height: 463px;
		
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px 50px 70px;
}

.users__icon {
	width: 92px;
	height: 96px;
}
.users__place {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 130%;
	color: #000000;
}
.users__autor {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #000000;
}

.users-block__btn-holder {
	width: 180px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-self: center;
	margin: 60px auto 370px;
}

 .users-block__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 26px 15px;
	width: 60px;
	height: 60px;
	background: url(../../assets/icons/arrow.svg) center no-repeat;

	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.users-block__btn:hover {
	cursor: pointer;
	background: #FFFFFF url(../../assets/icons/arrow\ blue.svg) center no-repeat;
	transition: all 0.5s ease-in-out;
}

.users-block__btn.btn-left,
.users-block__btn.btn-left:hover {
	transform: rotate(180deg);
}

.users-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 26px 45px;
	width: 359px;
	height: 74px;

	background: transparent url(../../assets/icons/arrow.svg) 302px 23px no-repeat;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}

.users-block__button:hover {
	background: #00A092 url(../../assets/icons/arrow.svg) 302px 23px no-repeat;
	transition: all 0.5s ease-in-out;
}

.care-block__content {
	margin: 136px auto 150px;
	justify-content: center;
	text-align: center;
}

.care-block__title {
	max-width: 655px;
	margin: 0 auto;
}
.care-block__subtitle {
	max-width: 537px;
	font-weight: 500;
	font-size: 26px;
	line-height: 130%;
	color: #20113D;
	margin: 50px auto 100px;
}

.care-block__cardsholder {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}

.care-block__card:first-child {
	max-width: 920px;
}

.care-block__card {
	max-width: 440px;
	height: 658px;
	background: #20113D;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	transition: all 0.5s ease-in-out;
}

.care-block__card:hover {
	z-index: 2;
	transform: scale(1.05, 1.05);
	transition: all 0.5s ease-in-out;
}

.care-block__card.not-active:hover {
	cursor: default;
	transform: scale(1, 1);
}

.cardsholder__image {
	max-width: 440px;
	object-fit: cover;
}
.cardsholder__image-big {
	max-width: 920px;
}

.cardsholder__info {
	width: 390px;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}

.cardsholder__button {
	display: flex;
	align-items: flex-start;
	padding: 26px 30px;
	margin-bottom: 50px;
	background: transparent url(../../assets/icons/arrow\ orange.svg) 90px 25px no-repeat;
	transition: all 0.5s ease-in-out;

	width: 142px;
	height: 74px;
	border-radius: 5px;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #F58021;
}
.cardsholder__button:hover {
	background: #F58021 url(../../assets/icons/arrow.svg) 90px 25px no-repeat;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}

.meet-block__button,
.care-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 26px 60px 26px 30px;
	width: 359px;
	height: 74px;
	margin: 100px auto 0;

	background: transparent url(../../assets/icons/arrow\ blue.svg) 302px 23px no-repeat;
	border: 1px solid #20113D;
	box-sizing: border-box;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #20113D;
}

.care-block__button {
	margin-bottom: 150px;
}

.meet-block__button:hover,
.care-block__button:hover {
	background: #20113D url(../../assets/icons/arrow.svg) 302px 23px no-repeat;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out;
}

.care-block__image {
	max-width: 1400px;
	object-fit: contain;
}

.footer {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #20113D;
}

.footer__content {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.footer__nav-block {
	display: flex;
	border-bottom: 1px solid #FFFFFF;
	align-items: center;
	justify-content: space-between;
}
.footer__partners {
	display: flex;
	margin: 80px 0;
}
.footer__partner:nth-child(2) {
	margin: 0 65px;
}
.footer__partner img {
	height: 50px;
}

.footer__list {
	display: flex;
}
.footer__item {
	margin: 0 23px;
}
.footer__item:first-child {
	margin-left: 0;
}
.footer__item:last-child {
	margin-right: 0;
}

.footer__link {
	color: #FFFFFF;
}
.footer__link:hover {
	cursor: pointer;
	border-bottom: 1px solid #FFFFFF;
}

.footer__btn {
	width: 359px;
	height: 74px;
	background: #20113D;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 26px 45px;

	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;

	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.footer__btn:hover {
	box-shadow: 5px 5px 20px #FFFFFF;
	transition: all 0.5s ease-in-out;
}

.footer__info-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__copyrights {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__copyright {
	color: #FFFFFF;
}
.footer__copyright:nth-child(2) {
	margin: 0 50px;
}

.footer__info-block .icon__menu {
	margin: 36px 0;
}

